<div class="card">
  <p><strong>Equipamento:</strong> {{ solicitacao.descricaoEquipamento }}</p>
  <p><strong>Categoria:</strong> {{ solicitacao.categoriaEquipamento }}</p>
  <p><strong>Defeito:</strong> {{ solicitacao.descricaoDefeito }}</p>
  <p><strong>Estado:</strong> {{ solicitacao.estado }}</p>
  <p><strong>Data da solicitação:</strong> {{ solicitacao.dataHora | date:'short' }}</p>
  <p><strong>Orçamento:</strong> {{ solicitacao.valorOrcado }}</p>

<!-- Estado: ORCADA -->
@if (solicitacao.estado === 'ORCADA') {
  <button (click)="aprovarServico()">Aprovar Serviço</button>
  <button (click)="rejeitarServico()">Rejeitar Serviço</button>
}

<!-- Estado: REJEITADA -->
@if (solicitacao.estado === 'REJEITADA') {
  <button (click)="resgatarServico()">Resgatar Serviço</button>
}

<!-- Estado: ARRUMADA -->
@if (solicitacao.estado === 'ARRUMADA') {
  <p><strong>Orientações:</strong> {{ solicitacao.orientacoesCliente }}</p>
  <p><strong>Descrição:</strong> {{ solicitacao.descricaoManutencao }}</p>
  <button (click)="pagarServico()">Pagar Serviço</button>
}

<!-- Estado: APROVADA = sem botões -->

</div>

<div>
    <h4>Histórico de Alterações:</h4>
    <ul>
      @for (alt of alteracaoHist; track alt) {
        <li>
          {{ alt.data | date:'short' }} - {{ alt.tipo }}
          @if( alt.descricao !== '') {
             - Motivo: {{ alt.descricao }}
          }

          @if(alt.tipo === 'Serviço Orçado'){
            por funcionario: {{ alt.nomeFuncionario}}
          }
          
        </li>
        
      }
    </ul>
</div>