<div class="container">
  <h2>Efetuar Manutenção - Solicitação #{{ solicitacao.ID }}</h2>

  <section class="dados-solicitacao">
    <p><b>Cliente:</b> {{ cliente.nome }}</p>
    <p><b>Problema:</b> {{ solicitacao.descricaoDefeito }}</p>
    <p><b>Estado Atual:</b> {{ solicitacao.estado }}</p>
  </section>

  <div>
    <h3>Registrar Manutenção</h3>

    <label>
      Descrição da Manutenção:
      <textarea [(ngModel)]="solicitacao.descricaoManutencao"></textarea>
    </label>

    <label>
      Orientações para o Cliente:
      <textarea [(ngModel)]="solicitacao.orientacoesCliente"></textarea>
    </label>

    <button (click)="efetuarManutencao()">Efetuar Manutenção</button>
  <button (click)="mostrarSelecao = true">Redirecionar</button>

@if (mostrarSelecao) {
  <select 
    class="form-select" 
    [(ngModel)]="func"
    name="categoriaEquipamento" 
    required>
    <option value="" disabled selected>Selecione o funcionário</option>
    <option *ngFor="let fun of funcionarios" [value]="fun">{{fun}}</option>
  </select>
}

  </div>