<div class="container">
  <h2>Efetuar Manutenção - Solicitação #{{ solicitacao.ID }}</h2>

  <section class="dados-solicitacao">
    <p><b>Cliente:</b> {{ cliente.nome }}</p>
    <p><b>Problema:</b> {{ solicitacao.descricaoDefeito }}</p>
    <p><b>Estado Atual:</b> {{ solicitacao.estado }}</p>
  </section>

  <div>
    <h3>Registrar Manutenção</h3>

    <label>
      Descrição da Manutenção:
      <textarea [(ngModel)]="solicitacao.descricaoManutencao"></textarea>
    </label>

    <label>
      Orientações para o Cliente:
      <textarea [(ngModel)]="solicitacao.orientacoesCliente"></textarea>
    </label>

<!-- Estado: ORCADA -->
@if (solicitacao.estado === 'APROVADA') {
  <button (click)="efetuarManutencao()">Efetuar Manutenção</button>
  <button (click)="mostrarSelecao = true">Redirecionar</button>
  @if (mostrarSelecao) {
  <select 
    class="form-select" 
    [(ngModel)]="func"
    name="funcionariocat" 
    required>
    <option value="" disabled selected>Selecione o funcionário</option>
    <option *ngFor="let fun of funcionarios" [value]="fun">{{fun}}</option>
  </select>
  }
}

<!-- Estado: ABERTA -->
@if (solicitacao.estado === 'ORCADA') {
  <!-- Início Formulário Orçamento -->
  <form>
    <div class="form-group row">
      <label for="propostaOrcamento" class="col-form-label col-md-3">Valor proposto do orçamento: </label>
        <div class="col-md-2">
          <input type="number" class="form-control" id="propostaOrcamento" placeholder="Valor">
        </div>
              
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Realizar proposta</button>
      </div>
    </div>

    <!-- Fim Form Orçamento -->
  </form>
}
<!-- Estado: APROVADA = sem botões -->

  </div>