<div class="container">
  <h2>Efetuar Manutenção - Solicitação #{{ solicitacao.ID }}</h2>

  <section class="dados-solicitacao">
    <p><b>Cliente:</b> {{ cliente.nome }}</p>
    <p><b>Problema:</b> {{ solicitacao.descricaoDefeito }}</p>
    <p><b>Estado Atual:</b> {{ solicitacao.estado }}</p>
    <p><b>Orçamento:</b> {{ solicitacao.valorOrcado }}</p>

  </section>

  <div>
    <h3>Registrar Manutenção</h3>

    <label>
      Descrição da Manutenção:
      <textarea [(ngModel)]="solicitacao.descricaoManutencao"></textarea>
    </label>

    <label>
      Orientações para o Cliente:
      <textarea [(ngModel)]="solicitacao.orientacoesCliente"></textarea>
    </label>

<!-- Estado: APROVADA -->
@if (solicitacao.estado === 'APROVADA') {
  <button (click)="efetuarManutencao()">Efetuar Manutenção</button>
  <button (click)="mostrarSelecao = true">Redirecionar</button>
  @if (mostrarSelecao) {
  <select 
    class="form-select" 
    [(ngModel)]="func"
    name="funcionariocat" 
    required>
    <option value="" disabled selected>Selecione o funcionário</option>
    <option *ngFor="let fun of funcionarios" [value]="fun">{{fun}}</option>
  </select>
  }
}

<!-- Estado: ABERTA -->
@if (solicitacao.estado === 'ABERTA') {
  <div class="mb-3">
    <label class="form-label">Orçamento:</label>
    <input 
      type="number" 
      class="form-control"
      [(ngModel)]="solicitacao.valorOrcado"
      name="orcamento" 
      placeholder="Digite o valor do orçamento"
      required
    />
  </div>

  <button 
    class="btn btn-success mt-2"
    (click)="salvarOrcamento(solicitacao)">
    Salvar Orçamento
  </button>
}


  </div>