 <ul>
  <a href="solicitacao" title="Novo" alt="Novo"
  class="btn btn-xs btn-success">
  <i class="fa fa-plus" aria-hidden="true"></i> Novo
  </a>

  @for (s of solicitacoes; track s; let i = $index)
  {
    <li>
    {{ i }} {{ s.dataHora | date:'short' }} - {{ s.descricaoEquipamento }} ({{ s.categoriaEquipamento }}) - Estado: {{ s.estado }} - Defeito: {{ s.descricaoDefeito | slice:0:30 }}
    </li>
    <a href="PagarServico/{{s.ID}}" title="Visualizar" alt="Visualizar"
    class="btn btn-xs btn-info">
    <i class="fa fa-edit" aria-hidden="true"></i> Visualizar
    </a>
  }
</ul>