
 <div class="Pag-cliente">
<h1>Requisições</h1>
    <div class="HUD">
      <h2>ID</h2> 
      <h2>HORA</h2>
      <h2>TIPO</h2>
      <h2>STATUS</h2>
    </div>
<p>rf003-pag-inicial works!</p>
 </div>
<button (click)="metdado_serivice()">teste</button>
 <ul>
  @for (s of solicitacoes; track s; let i = $index)
  {
    <li (click)="teste()">
    {{ i }} {{ s.dataHora | date:'short' }} - {{ s.descricaoEquipamento }} ({{ s.categoriaEquipamento }}) - Estado: {{ s.estado }} - Defeito: {{ s.descricaoDefeito | slice:0:30 }}
    </li>
  }
</ul>