/* APAGAR DPS */

.loginPopup{
    display: flex;
    flex-direction: row;
    background: linear-gradient(220deg,rgba(47, 144, 235, 1) 0%, rgba(255, 89, 255, 1) 90%);
    margin: auto;
    height:100vh;
}

.loginBox{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(248, 248, 248);
}

.logintext{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30%;
}


.login  {
    display:flex;
    justify-content: center;
    align-items: center;
}

.fundo{
    border-style: solid;
    border-color: black;
    border-width: 1px;

}


.loginFormDiv{
    display: flex;
    justify-content: center;
}

.loginForm{
    display:table;
}

label{
    display: inline;
}

label{
    display:inline;
}
/* 
.login-field{
    display:table;
    margin: 15px 30px;
}
 */
.btn{
    display: flex;
    justify-content: center;
}

#entrar{
    height: 40px;
    width: 100px;
}

label {
    padding-right: 20px;
}

label,input {
    display: table-cell;
}
/* APAGAR DPS */

.loginPopup{
    display: flex;
    flex-direction: row;
    background: linear-gradient(220deg,rgba(47, 144, 235, 1) 0%, rgba(255, 89, 255, 1) 90%);
    margin: auto;
    height:100vh;
}

.loginBox{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(248, 248, 248);
}

.logintext{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30%;
}


.login  {
    display:flex;
    justify-content: center;
    align-items: center;
}

.fundo{
    border-style: solid;
    border-color: black;
    border-width: 1px;

}


.loginFormDiv{
    display: flex;
    justify-content: center;
}

.loginForm{
    display:table;
}

label{
    display: inline;
}

label{
    display:inline;
}
/* 
.login-field{
    display:table;
    margin: 15px 30px;
}
 */
.btn{
    display: flex;
    justify-content: center;
}

#entrar{
    height: 40px;
    width: 100px;
}

label {
    padding-right: 20px;
}

label,input {
    display: table-cell;
}
    