<div class="app-container">

    <!-- Início navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark barraNav-top w-100"><!-- nav= div, mas usado para navegações  -->
      <div class="container-fluid">
      @if (this.usuarioLogado?.perfil == 'CLIENTE') {
        <a class="navbar-brand me-4" href="/cliente">Pagina inicial</a>
        }
      @if (this.usuarioLogado?.perfil == 'FUNC') {

        <a class="navbar-brand me-4" routerLink="/funcionario">Pagina inicial</a>

      <!-- Início links redirecionamento -->
      <ul class="navbar-nav">
        <!-- REMOVER DEPOIS -->
        <li class="nav-item">
          <a class="nav-link" routerLink="lista-funcionarios">Funcionarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="lista-equipamentos">Equipamentos</a>
        </li>
     
      <!-- Botão Lista de Solicitações -> componente lista-solicitacoes -->
        <li class="nav-item">
          <a class="nav-link" routerLink="funcionario/lista-solicitacoes">Solicitações</a>
        </li>
        

    <!--AJUSTAR PARA O FUNCIONARIO-->
            <li class="nav-item">
              <a class="nav-link" routerLink="relatorio">Relatorios</a>
          </li>
          </ul>
      }

        <!-- Botões login e sign up -->
          <div class="d-flex align-items-center ms-auto">
            <a href="#" class="btn btn-outline-light me-2" routerLink="/login" (click)="sair()" role="button">Sair</a>
          </div>
        </div>
      </nav>
    <router-outlet></router-outlet>  
  </div>