<div class="container-fluid">
 
  <div class="title my-3">
  <h2 >Efetuar Manutenção - Solicitação #{{ solicitacao.ID }}</h2>
</div>

  <section class="dados-solicitacao">
    <p><b>Cliente:</b> {{ cliente.nome }}</p>
    <p><b>Problema:</b> {{ solicitacao.descricaoDefeito }}</p>
    <p><b>Estado Atual:</b> {{ solicitacao.estado }}</p>
  </section>
  <div>

<!-- Estado: APROVADA -->
@if (solicitacao.estado === 'APROVADA' || solicitacao.estado ==="REDIRECIONADA" && solicitacao.funcionarioID === funcionarioLogin) {
      <h3>Registrar Manutenção</h3>

    <label>
      Descrição da Manutenção:
      <textarea [(ngModel)]="solicitacao.descricaoManutencao"></textarea>
    </label>

    <label>
      Orientações para o Cliente:
      <textarea [(ngModel)]="solicitacao.orientacoesCliente"></textarea>
    </label>

  <button (click)="efetuarManutencao()">Efetuar Manutenção</button>
      @if (redirecionar) {
        @for (s of funcionarios; track s; let i = $index)
        {
          <tr>
            <td> {{ i }}</td>
            <td>{{s.nome}}</td>
            <td> {{ s.email}} </td>
            
            <td>
            <!-- VISUALIZAR -->   
            <a (click)="redirecionarManutencao(s.id)" title="select" alt="select"
            class="btn btn-xs btn-info mx-1">
            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i> Select
            </a>
        }
      }
}

<!-- Estado: ABERTA -->
@if (solicitacao.estado === 'ABERTA') {
  <div class="mb-3">
    <label class="form-label"><b>Orçamento:</b></label>
    <input 
      type="number" 
      class="form-control"
      [(ngModel)]="solicitacao.valorOrcado"
      name="orcamento" 
      placeholder="Digite o valor do orçamento"
      required
    />
  </div>

  <button 
    class="btn btn-success mt-2"
    (click)="salvarOrcamento(solicitacao)">
    Salvar Orçamento
  </button>
}


  </div>