<div class="signUpBackground">
  <div class="signUpForm">
  <h2 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrar</h2>
      <form class="signUpFields" [formGroup]="formularioAutoCadastro" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label class="form-label">Nome:</label>
          <input class="form-control" formControlName="nome">
        </div>

        <div class="form-group">
          <label class="form-label">CPF:</label>
          <input class="form-control" formControlName="cpf" placeholder="Somente números">
          @if (formularioAutoCadastro.get('cpf')?.invalid && formularioAutoCadastro.get('cpf')?.touched) {
            <div>CPF inválido</div>
          }
        </div>

        <div class="form-group">
          <label class="form-label" >Email:</label>
          <input class="form-control" formControlName="email">
          @if (formularioAutoCadastro.get('email')?.invalid && formularioAutoCadastro.get('email')?.touched) {
            <div>Email inválido</div>
          }
        </div>

        <div class="form-group">
          <label class="form-label">CEP:</label>
          <input class="form-control" formControlName="cep" placeholder="Somente números">
        </div>

        <div class="form-group">
          <label class="form-label">Telefone:</label>
          <input class="form-control" formControlName="telefone" placeholder="DDD + número">
        </div>

          <button type="submit" class="btn btn-primary" [disabled]="formularioAutoCadastro.invalid">Cadastrar</button>
      </form>
  </div>
</div>